@import "../../../../../styles";

form {
  background: $dimWhite;
  box-shadow: $box_shadow;
  padding: 0.7rem;
}

mat-dialog-content {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  gap: 1.5rem;

  @media screen and (max-width: $breakpoint_zero) {
    padding: 0;
    justify-content: center;
  }

  app-ticket-shopping-cart-item {
    width: 100%;
  }
}

.dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 20px 24px;

  @media screen and (max-width: $breakpoint_zero) {
    flex-direction: column;
    justify-content: center;

    button {
      width: 100%;
    }
  }
}
