@import "src/styles";

.flex-container {
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

mat-card {
  max-width: 25rem;
  width: 100%;
  background: $dimWhite;
  box-shadow: $box_shadow;
  padding: 10px 20px;
}

mat-card-header {
  width: 100%;
  margin-bottom: 0.5rem;
  align-items: flex-start;
  padding: $padding_small 0;

  @media screen and (max-width: $breakpoint_zero) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

mat-card-title {
  color: $primary;
  font-size: $font_size_large;
  font-weight: 500;
  word-break: break-word;
}

mat-card-title-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: left;

  @media screen and (max-width: $breakpoint_zero) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  mat-error {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: $breakpoint_zero) {
      justify-content: center;
      text-align: center;
    }
  }
}

mat-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  @media screen and (max-width: $breakpoint_zero) {
    padding: 0;
    justify-content: center;
  }
}

.flex-span-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $breakpoint_zero) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.remember-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  input {
    cursor: pointer;
  }
}

mat-card-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: $padding_small 0;
  align-items: flex-start;
}

.margin-top-small {
  margin-top: $margin_small;
}

.mdc-card__actions {
  @media screen and (max-width: $breakpoint_zero) {
    justify-content: center;
    align-items: center;
  }
}

mat-form-field {
  width: 100%;
  margin-top: 0.85rem;

  input {
    padding: 0;
    margin: 0;
  }
}

.navigate-title .navigate-body {
  padding: 0;
  font-size: $font_size_normal;
}

.navigate-body {
  cursor: pointer;
  color: $secondary;
  font-weight: 500;
}

.mat-mdc-form-field-bottom-align::before {
  content: none;
}

.register-content {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;

  @media screen and (max-width: $breakpoint_zero) {
    justify-content: center;
    gap: 1rem;
    margin-top: 0.85rem;

    mat-form-field {
      margin-top: 0;
    }
  }
}

.register-mat-card-width {
  width: 100%;
  max-width: 50rem;
}

.register-mat-form-field {
  max-width: 14rem;
  width: 100%;
}

.google-sign-in-button {
  cursor: pointer;
  transition: background-color .3s, box-shadow .3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  color: var(--mdc-filled-button-label-text-color);
}

.google-sign-in-button:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.google-sign-in-button:active {
  background-color: $primary;
}

.google-sign-in-button:active {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04),
  0 2px 4px rgba(0, 0, 0, .25),
  0 0 0 3px #c8dafc;
}

.google-sign-in-button:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  cursor: not-allowed;
}
