<div class="flex-container">
  <mat-card>
    <form [formGroup]="this.authForm.formGroup" (ngSubmit)="this.onSubmit()">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            {{this.authForm.title}}
          </mat-card-title>
          <mat-error *ngIf="this.apiError">
            <mat-icon>info</mat-icon>
            <span>{{this.error(undefined)}}</span>
          </mat-error>
        </mat-card-title-group>
        <button class="navigate-button" type="button" title="{{this.authForm.differentAuthFormTitle}}"
                (click)="this.updateAuthForm()">
          <mat-icon>{{this.authForm.differentAuthFormIcon}}</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline" *ngFor="let authMatFormField of this.authForm.authMatFormFieldList">
          <mat-label>{{authMatFormField.matLabel}}</mat-label>
          <input (input)="this.onInput()" id="{{authMatFormField.id}}"
                 formControlName="{{authMatFormField.formControlName}}" type="{{authMatFormField.type}}"
                 autocomplete="{{authMatFormField.autoComplete ?? ''}}" matInput>
          <mat-error>{{this.error(authMatFormField.key)}}</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-flat-button>{{this.authForm.title}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
