@import "src/styles";

input[type="file"] {
  display: none;
}

.image-uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed $secondary;
  border-radius: 4px;
  box-shadow: $box-shadow;
  padding: 10px 0;
  font-size: 0.9rem;
  color: $primary;
  cursor: pointer;
  gap: 0.3rem;

  @media screen and (max-width: $breakpoint_zero) {
    width: 150px;
  }
}
