<mat-toolbar>
  <button *ngIf="this.isMobile" mat-icon-button aria-label="Menu icon" (click)="this.toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <img ngSrc="assets/logo.png" alt="logo" height="382" width="1500">
</mat-toolbar>
<mat-sidenav-container autosize="true">
  <mat-sidenav [ngClass]="!this.isCollapsed ? 'expanded' : ''" [mode]="'side'" [opened]="!this.isMobile">
    <mat-nav-list>
      <a mat-list-item (click)="this.toggleMenu()">
        <span class="entry">
          <mat-icon>{{this.isCollapsed ? 'arrow_forward' : 'arrow_back'}}</mat-icon>
        </span>
      </a>
      <a *ngFor="let route of this.routeList" mat-list-item href="{{route.path}}">
        <span class="entry">
          <mat-icon>{{route.icon}}</mat-icon>
          <span *ngIf="!this.isCollapsed">{{route.label}}</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer [routeList]="this.routeList"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
