<mat-card>
  <mat-card-content>
    <div class="w-auto">
      <img *ngIf="this.user.image" ngSrc="{{this.user.image}}" alt="user-image" width="100" height="100">
      <div *ngIf="!this.user.image" class="empty-image">
        <mat-icon>do_not_disturb</mat-icon>
        <p>Empty image</p>
      </div>
      <app-image-uploader [store]="this.store" [user]="this.user" [action]="this.onImageUploadClick"></app-image-uploader>
    </div>
    <div class="flex-container" id="custom-tab-list">
      <app-custom-tab [label]="'Id'" [value]="this.user.id + ''"></app-custom-tab>
      <app-custom-tab [label]="'Email'" [value]="this.user.email"></app-custom-tab>
      <app-custom-tab [label]="'Created at'"
                      [value]="this.user.createdAt.toLocaleDateString() + ' ' + this.user.createdAt.toLocaleTimeString()"></app-custom-tab>
      <app-custom-tab [label]="'Firstname'" [value]="this.user.firstname"></app-custom-tab>
      <app-custom-tab [label]="'Lastname'" [value]="this.user.lastname"></app-custom-tab>
      <app-custom-tab [label]="'Phone number'" [value]="this.user.phoneNumber"></app-custom-tab>
      <app-custom-tab [label]="'Role'" [value]="this.user.role"></app-custom-tab>
      <div class="button-container">
        <button mat-flat-button (click)="this.onEditUserClick()">Edit user</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
