<mat-card>
  <mat-card-content>
    <app-image-viewer [image]="this.user.image" [marginRight]="true">
      <app-image-uploader [store]="this.store" [user]="this.user"
                          [action]="this.onImageUploadClick"></app-image-uploader>
    </app-image-viewer>
    <div class="flex-container" id="custom-tab-list">
      <app-custom-tab [label]="'Id'" [value]="this.user.id + ''"></app-custom-tab>
      <app-custom-tab [label]="'Email'" [value]="this.user.email"></app-custom-tab>
      <app-custom-tab [label]="'Created at'"
                      [value]="this.user.createdAt.toLocaleDateString() + ' ' + this.user.createdAt.toLocaleTimeString()"></app-custom-tab>
      <app-custom-tab [label]="'Firstname'" [value]="this.user.firstname"></app-custom-tab>
      <app-custom-tab [label]="'Lastname'" [value]="this.user.lastname"></app-custom-tab>
      <app-custom-tab [label]="'Phone number'" [value]="this.user.phoneNumber"></app-custom-tab>
      <app-custom-tab [label]="'Role'" [value]="this.user.role"></app-custom-tab>
      <div class="button-container">
        <button mat-flat-button (click)="this.onEditUserClick()">Edit user</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
