@import "src/styles";

mat-card {
  width: 100%;
}

mat-card-actions {
  margin-top: $margin_normal;
}

.flex-container {
  @media screen and (max-width: $breakpoint_zero) {
    flex-direction: column;
  }
}

.button-container {
  width: 46%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;

  @media screen and (max-width: 1400px) {
    width: 42%;
  }

  @media screen and (max-width: $breakpoint_zero) {
    width: 100%;
    justify-content: center;

    button {
      width: 100%;
    }
  }
}

.flex-container + .flex-container {
  margin-top: $font_size_normal;
}

.flex-container#custom-tab-list {
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;

  @media screen and (max-width: $breakpoint_zero) {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
}

mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: $breakpoint_zero) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.mat-mdc-card {
  box-shadow: none;
}

app-custom-tab {
  width: 46%;
  border: $primary solid 1px;
  border-radius: 4px;
  padding: 0 12px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1400px) {
    width: 42%;
  }

  @media screen and (max-width: $breakpoint_zero) {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    padding: 5px 10px;
  }
}
