<div *ngIf="this.ticket" class="w-full flex-container ticket-shopping-cart">
  <app-custom-tab [label]="'No.'" [value]="this.index + ''"></app-custom-tab>
  <app-custom-tab [label]="'Code'" [value]="this.ticket.code"></app-custom-tab>
  <app-custom-tab [label]="'Firstname'" [value]="this.ticket.firstname"></app-custom-tab>
  <app-custom-tab [label]="'Lastname'" [value]="this.ticket.lastname"></app-custom-tab>
  <app-custom-tab [label]="'Event'" [value]="this.ticket.event.name"></app-custom-tab>
  <app-custom-tab [label]="'Seat (row/number)'"
                  [value]="this.ticket.seat ? this.ticket.seat.row + '/' + this.ticket.seat.number : '-'"></app-custom-tab>
  <app-custom-tab [label]="'Paid'"
                  [value]="this.ticket.paid + ''"></app-custom-tab>
  <div class="cost">
    {{ this.ticket.cost + this.ticket.event.currency }}
  </div>
  <div class="action">
    <mat-icon>file_download</mat-icon>
    <mat-icon>edit</mat-icon>
    <mat-icon>remove_shopping_cart</mat-icon>
  </div>
</div>
