<div class="flex-container">
  <mat-card>
    <form [formGroup]="this.loginForm" (ngSubmit)="this.submitForm()">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            Login
          </mat-card-title>
        </mat-card-title-group>
        <button class="register-button" type="button" title="Register" (click)="this.navigate('/auth/register')">
          <mat-icon>create</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input id="email" formControlName="email" type="email" autocomplete="email" matInput>
          <mat-error>{{this.error('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input id="password" formControlName="password" type="password" autocomplete="current-password" matInput>
          <mat-error>{{this.error('password')}}</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-flat-button>Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
