@import "src/styles";

mat-toolbar {
  width: 100%;
  justify-content: right;

  @media screen and (max-width: $breakpoint_first) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    margin-top: 10px;
    margin-right: 10px;
    width: 85px;
    height: auto;

    @media screen and (max-width: $breakpoint_first) {
      margin-top: 0;
      margin-right: 0;
      width: 75px
    ;
    }
  }
}

mat-icon {
  color: $secondary;
}

.shopping-cart-checkout {
  position: absolute;
  left: 35px;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: limegreen;
  color: white;
  font-size: 0.65rem;
  border-radius: 100%;
  width: 19px;
  height: 19px;
}

.icon-disabled {
  cursor: auto;
}

.display-none {
  display: none;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  position: fixed;
  top: 0;
  z-index: 2;
  transition: width 0.3s ease;
  border-radius: 0;
  width: 4rem;
  box-shadow: $box_shadow;

  .entry {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.5rem;
    padding: 0.4rem 0.25rem;
  }
}

mat-sidenav-content {
  padding-left: 2rem;
  padding-right: 2rem;

  &::-webkit-scrollbar {
    width: 0.6rem;
    background-color: $dimWhite;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: $box_shadow;
  }
}

.expanded {
  width: auto;

  @media screen and (max-width: $breakpoint_first) {
    width: 100%;
  }
}
