// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$eve-ticketing-frontend-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($eve-ticketing-frontend-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($theme);
/* You can add global styles to this file, and also import other style files */

// COLORS
$primary: #bec9c8;
$secondary: #00dddd;
$dimWhite: rgba(255, 255, 255, 0.04);
$gray30Percentage: rgba(217, 217, 217, 0.3);

// BREAKPOINTS
$breakpoint_zero: 1050px;
$breakpoint_first: 768px;
$breakpoint_second: 380px;
$breakpoint_third: 180px;

// FONT
$font_family: Roboto, 'Helvetica Neue', sans-serif;
$font_size_small: 0.7rem;
$font_size_normal: 0.9rem;
$font_size_large: 2rem;

// MARGIN
$margin_small: 0.8rem;
$margin_normal: 2rem;
$margin_large: 3rem;

// PADDING
$padding_small: 0.8rem;
$padding_normal: 1.5rem;
$padding_large: 2rem;

// BOX SHADOW
$box_shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

// GLOBAL STYLES
html, body {
  height: 100%;
  margin: 0;
  font-family: $font_family;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: hidden;
}

span {
  font-size: $font_size_normal;
}

.w-full {
  width: 100%;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @media screen and (max-width: $breakpoint_first) {
    flex-direction: column;
  }
}

.mdc-evolution-chip-set__chips {
  max-width: 100% !important;
}

.mat-mdc-standard-chip .mdc-evolution-chip__cell--primary,
.mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
.mat-mdc-standard-chip .mat-mdc-chip-action-label {
  overflow: hidden !important;
}

.rounded-full {
  border-radius: 100%;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}
